extends layout.pug
block content
  .container
    .row
      .col-sm-12
        a.btn.btn-success(href="/admin/recipes/create")
          span.glyphicon.glyphicon-plus
          | 创建
    .row
      .col-sm-12
        table.table.table-striped.table-hover
          thead
            tr
              th 名称
              th 内容
              th 更新时间
              th 删除
            tbody
              each recipe in recipes
                tr(class=`recipe-id-${recipe._id}`)
                  td: a(target="_blank", href=`/admin/recipes/${recipe._id}`) #{recipe.name}
                  td.conetnt #{recipe.content}
                  td #{recipe.meta.updateAt}
                  td: button.btn.btn-danger.del(data-id=recipe._id) 删除
  script(src="/js/admin.js")
